*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
   
    background-image: linear-gradient(rgba(231, 232, 235, 0.146),rgba(225, 226, 248, 0.228)), url(istockphoto-91713709-612x612.jpg);
  background-size: cover;
  background-attachment: fixed;

 

}
.content h1{
    font-size: 55px;
    font-style: bold;
    font-family: cursive;
    text-align: center;
    color : #000000;
    background: transparent;
}
.content p{
    
    font-size: 25px;
    font-family: cursive;
    color: #000000;
    text-align: start;
    background: transparent;
    
}